body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tabs {
    padding: 20px 0;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
}

.tab-button {
    cursor: pointer;
    background: #007BFF;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
}

.tab-button-2 {
    cursor: pointer;
    background: #fa5021;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
}

.spacer {
    margin-left: 20px;
}

.tab-button.active {
    background: #0056b3;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 80px;
}

.image-container img {
    width: 98%;
    height: auto;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    transition: 0.3s;
}

.image-container img:hover {
    border-color: #666;
}

.image-container div {
    /* 4つごとに改行 */
    flex: 1 0 24%; 
    max-width: 24%;
    /* 5つごとに改行 */
    /* flex: 1 0 19%; 
    max-width: 19%; */

    box-sizing: border-box;
    text-align: center;
}